{% load static %}
{% load cart_template_tags %}

  <!-- Navbar -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
    <div class="container">

      <!-- Brand -->
      <a class="navbar-brand waves-effect" href="{% url "core:home" %}" target="_self">
        <strong class="blue-text">DJe-commerce</strong>
      </a>

      <!-- Collapse -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Links -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <!-- Left -->
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link waves-effect" href="{% url "core:home" %}">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-effect" href="{% url "core:checkout" %}" target="_self">Checkout</a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-effect" href="#"
              target="_self">Products</a>
          </li>
{#          <li class="nav-item">#}
{#            <a class="nav-link waves-effect" href="https://mdbootstrap.com/education/bootstrap/" target="_blank">Free#}
{#              tutorials</a>#}
{#          </li>#}
        </ul>

              <!-- Right -->
        <ul class="navbar-nav nav-flex-icons">
          {% if request.user.is_authenticated %}
          <li class="nav-item">
            <a href="{% url "core:order-summary" %}" class="nav-link waves-effect">
              <span class="badge red z-depth-1 mr-1"> {{ request.user|cart_item_count }} </span>
              <i class="fas fa-shopping-cart"></i>
              <span class="clearfix d-none d-sm-inline-block"> Cart </span>
            </a>
          </li>
          <li class="nav-item">
            <a href="{% url "account_logout" %}" class="nav-link border border-light rounded waves-effect"
              target="_blank">
              <i class="fas fa-sign-out-alt mr-2"></i>Logout
            </a>
          </li>
{#          <li class="nav-item">#}
{#            <a href="https://www.facebook.com/mdbootstrap" class="nav-link waves-effect" target="_blank">#}
{#              <i class="fab fa-facebook-f"></i>#}
{#            </a>#}
{#          </li>#}
{#          <li class="nav-item">#}
{#            <a href="https://twitter.com/MDBootstrap" class="nav-link waves-effect" target="_blank">#}
{#              <i class="fab fa-twitter"></i>#}
{#            </a>#}
{#          </li>#}
          {% else %}
          <li class="nav-item">
            <a href="{% url "account_login" %}" class="nav-link border border-light rounded waves-effect"
              target="_blank">
              <i class="fas fa-sign-in-alt mr-2"></i>Login
            </a>
          </li>
          <li class="nav-item">
            <a href="{% url "account_signup" %}" class="nav-link border border-light rounded waves-effect"
                target="_blank">
             <i class="fas fa-user mr-3"></i>SignUp
            </a>
          </li>
          {% endif %}
        </ul>

      </div>

    </div>
  </nav>
  <!-- Navbar -->